<header>
  <h1>Example to reproduce issue #29959</h1>
  <a href="https://github.com/angular/components/issues/29959">https://github.com/angular/components/issues/29959</a>

  <p>
    Press <span class="btn">ArrowUp</span> to move last child of <code>/home/</code> to <code>/</code>.
  </p>

  <p>
    Action is logged but the tree is not updated as expected. Toggle folder <code>/</code>, now the child is using the
    correct padding. You can repeat this until folder <code>/home/</code> is empty.
  </p>
</header>

<main class="main">
  <mat-tree
    #tree
    [dataSource]="dataSource"
    [childrenAccessor]="childrenAccessor"
    [trackBy]="trackBy">
    <mat-tree-node *matTreeNodeDef="let node"
                   [class.selected]="selectedNode === node"
                   matTreeNodeToggle
                   matTreeNodePadding
                   matTreeNodePaddingIndent="20">
      <div class="content">
        @if (isFolder(node)) {
          <mat-icon class="folder">{{tree.isExpanded(node) ? 'folder_open' : 'folder'}}</mat-icon>
        } @else {
          <mat-icon>insert_drive_file</mat-icon>
        }

        <div>{{ node.name }}</div>
      </div>
    </mat-tree-node>
  </mat-tree>

  <textarea #console></textarea>
</main>

<router-outlet />
